/*
  file-name: style.css
  used-for: week 1 assignment of mindifire training
  created-by: r s devi prasad
  description: it is a css file for styling the elements of the html file
*/

* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

#header {
    width: 100%;
    height: 65px;
    padding-top: 15px;
    border-bottom: 1px solid #ccc;
}

#logo {
    float: left;
    font-size: 26px;
}

#menu {
    float: right;
}

#menu ul {
    list-style: none;
}

#menu ul li {
    display: inline;
}

#menu li a {
    text-decoration: none;
    color: #000;
    padding: 8px;
    text-align: center;
    background-color: #ddd;
}

#menu li a:hover {
    background-color: #111;
    text-decoration: none;
    color: #fff;
}

#secondary-nav {
    width: 100%;
    display: block;
    height: 50px;
    padding: 5px;
}

#crud-menu {
    display: block;
    float: left;
    list-style: none;
    margin-bottom: 0;
}

#crud-menu li {
    display: inline;
}

#crud-menu li a {
    text-decoration: none;
    padding: 8px;
    text-align: center;
}

#crud-menu li a:hover {
    text-decoration: none;
}

h1 {
    text-align: center;
    font-weight: 200;
}

form {
    width: 100%;
    padding: 1em;
    border: 1px solid #ccc;
}

form div + div {
    margin-top: .1em;
}

form h2 {
    margin: 0 0 .5em 1em;
    font-weight: 100;
}

#form-btn {
    width: 50%;
    margin: 0 auto;
}


span {
    color: #ff0000;
}

span:before {
    content: " ";
}

.hide {
    display: none;
}